<%= form_for(@store, url: "#") do |f| %>
  <div class="store-show-info-1">
    <table class="store-form">
      <tr><td class="store-info-top" colspan="2"><h2 class="page-title">店舗情報</h2></td></tr>
      <tr class="field">
        <td class="label"><%= f.label :store_name %></td>
        <td class="field">
          <div class="store-confirm"><%= @store.store_name %></div>
          <%= f.hidden_field :store_name, :value => @store.store_name %>
        </td>
      </tr>

      <tr class="field">
        <td class="label"><%= f.label :phone_num %></td>
        <td class="field">
          <div class="store-confirm"><%= @store.phone_num %></div>
          <%= f.hidden_field :phone_num, :value => @store.phone_num %>
        </td>
      </tr>

      <tr class="field">
        <td class="label"><%= f.label :address %></td>
        <td class="field address-show">
          <div class="">
            <%= f.label :post_code %>
            <%= @store.post_code %>
            <%= f.hidden_field :post_code, :value => @store.post_code %>
          </div>
          <div class="">
            <%= f.label :prefecture_id %>
            <%= @store.prefecture_id %>
            <%= f.hidden_field :prefecture_id, :value => @store.prefecture_id %>
          </div>
          <div class="">
            <%= f.label :city %>
            <%= @store.city %>
            <%= f.hidden_field :city, :value => @store.city %>
          </div>
          <div class="">
            <%= f.label :block %>
            <%= @store.block %>
            <%= f.hidden_field :block, :value => @store.block %>
          </div>
          <div class="">
            <%= f.label :building %>
            <%= @store.building %>
            <%= f.hidden_field :building, :value => @store.building %>
          </div>
        </td>
      </tr>

      <tr class="field">
        <td class="label"><%= f.label :business_hours %></td>
        <td class="field">
          <div class="store-confirm">
            <%= @store.business_hours_start.to_s(:time) %>
            <%= f.hidden_field :business_hours_start, :value => @store.business_hours_start %>
            ~
            <%= @store.business_hours_finish.to_s(:time) %>
            <%= f.hidden_field :business_hours_finish, :value => @store.business_hours_finish %>
          </div>
        </td>
      </tr>

      <tr class="field">
        <td class="label"><%= f.label :holiday %></td>
        <td class="field">
          <div class="store-confirm"><%= @store.holiday %></div>
          <%= f.hidden_field :holiday, :value => @store.holiday %>
        </td>
      </tr>

      <tr class="field">
        <td class="label"><%= f.label :home_url %></td>
        <td class="field">
          <div class="store-confirm"><%= @store.home_url %></div>
          <%= f.hidden_field :home_url, :value => @store.home_url %>
        </td>
      </tr>

    </table>

    <%= f.fields_for :store_order_info do |i| %>
      <table class="store-form">
        <tr><td class="store-info-top" colspan="2"><h2 class="page-title">注文情報</h2></td></tr>
        <tr class="field">
          <td class="label"><%= i.label :reception_email %></td>
          <td class="field">
            <div class="store-confirm"><%= @store.store_order_info.reception_email %></div>
            <%= i.hidden_field :reception_email, :value => @store.store_order_info.reception_email %>
          </td>
        </tr>

        <tr class="field">
          <td class="label"><%= i.label :transport_fee %></td>
          <td class="field">
            <div class="store-confirm"><%= @store.store_order_info.transport_fee %>円</div>
            <%= i.hidden_field :transport_fee, :value => @store.store_order_info.transport_fee %>
          </td>
        </tr>

        <tr class="field">
          <td class="label"><%= i.label :delivery_reception_time %></td>
          <td class="field delively_reception">
            <%= i.label :delivery_reception_time_1 %>
            <%= @store.store_order_info.delivery_reception_time_1 %><br />

            <%= i.label :delivery_reception_time_2 %>
            <%= @store.store_order_info.delivery_reception_time_2 %><br />

            <%= i.label :delivery_reception_time_3 %>
            <%= @store.store_order_info.delivery_reception_time_3 %><br />

            <%= i.label :delivery_reception_time_4 %>
            <%= @store.store_order_info.delivery_reception_time_4 %><br />

            <%= i.label :delivery_reception_time_5 %>
            <%= @store.store_order_info.delivery_reception_time_5 %><br />

            <%= i.label :delivery_reception_time_6 %>
            <%= @store.store_order_info.delivery_reception_time_6 %><br />

            <%= i.label :delivery_reception_time_7 %>
            <%= @store.store_order_info.delivery_reception_time_7 %><br />
          </td>
        </tr>

        <tr class="field">
          <td class="label"><%= i.label :comment %></td>
          <td class="field">
            <div class="store-confirm"><%= @store.store_order_info.comment %></div>
            <%= i.hidden_field :comment, :value => @store.store_order_info.comment %>
          </td>
        </tr>

      </table>
    <% end %>
  </div>

  <div class="actions" id="store-submit">
    <%= link_to "編集する", edit_store_path,class: "btn btn-success" %>
  </div>

<% end %>

</div>
