<nav class="navbar navbar-expand-lg navbar-light header-menu">
  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav mr-auto">
      <% unless shop_user_signed_in? %>
        <li class="nav-item">
          <%= link_to "店舗ログイン", new_shop_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "店舗登録", new_shop_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "利用マニュアル", "#", class: "nav-link" %>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "店舗トップ", stores_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "店舗情報登録", new_store_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <% if Store.current_store(current_shop_user).present? %>
          <%= link_to "商品登録", store_menus_path(store_id: current_shop_user.store.id), class: "nav-link" %>
        <% else %>
          <%= link_to "商品登録", stores_path, class: "nav-link" %>
        <% end %>
        </li>
        <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          店舗ユーザー
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "ユーザー設定", show_shop_user_registration_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "ログアウト", destroy_shop_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% end %>
    </ul>
</nav>
