<nav class="navbar navbar-expand-lg navbar-light header-menu">
  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav mr-auto">
      <% unless shop_user_signed_in? %>
        <li class="nav-item">
          <%= link_to "店舗ログイン", new_shop_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "店舗登録", new_shop_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "利用マニュアル", "#", class: "nav-link" %>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "店舗トップ", stores_path(current_shop_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "商品登録", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_shop_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
</nav>
