<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryServiceHelper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- タイトル -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFF99;">
      <% unless shop_user_signed_in? %>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag 'logo2.png'%>
        <% end %>
      <% else %>
        <%= link_to stores_path(current_shop_user), class: "navbar-brand" do %>
          <%= image_tag 'logo2.png'%>
        <% end %>
      <% end %>
    </nav>
    <!-- ヘッダー画像 -->
    <%= image_tag 'image01.jpg', class: "header-image" %>
    <!-- ヘッダーメニュー -->
    <%= render 'layouts/header' %>
    <!-- flash -->
    <div class="notifications">
      <%= render 'layouts/notifications' %>
    </div>
    <!-- メインコンテンツ -->
    <div class="content">
      <%= yield %>
    </div>
    <!-- フッタ -->
    <%= render 'layouts/footer' %>
  </body>
</html>
